.parent_NavMenu {
  background-color: #fff;
  padding: 18px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
}
.parent_NavMenu .child_NavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parent_NavMenu .child_NavMenu .mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parent_NavMenu .child_NavMenu .mainLogo div {
  width: 63px;
  height: 42px;
}
.parent_NavMenu .child_NavMenu .mainLogo div img {
  width: 100%;
  height: 100%;
}
.parent_NavMenu .child_NavMenu .mainLogo h1 {
  font-weight: 600;
  font-size: 29.44px;
  line-height: 5px;
  color: #2A2A2A;
  font-family: "Roboto";
  font-style: normal;
}
.parent_NavMenu .child_NavMenu .mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parent_NavMenu .child_NavMenu .mainMenu ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 125.3%;
  color: #7C7C7C;
}
.parent_NavMenu .child_NavMenu .mainMenu ul li .activeMenu {
  color: red;
}
.parent_NavMenu .child_NavMenu .otherMenu_btn button {
  background-color: transparent;
  border: none;
}