.container {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-pack--ms-flex-pack: center;
  -webkit-box-pack--ms-flex-pack-justify-content: center;
}

* {
  font-family: "Roboto";
}

button {
  cursor: pointer;
  font-weight: 500;
}

.loginPage .container {
  height: 864px;
  width: 1436px;
}

.loginPage .right {
  background: url("../../assests/images/LoginPage/login_background.jpg");
  width: 768px;
}

.loginPage .left {
  width: 768px;
}

.loginPage {
  color: black;
  width: 1536px;
}

.login_logo {
  margin-top: 110px;
  margin-left: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login_logo h1 {
  font-size: 29.44px;
  font-weight: 600;
}

.log_logo {
  height: 42.75px;
  width: 63px;
  background: url("../../assests/images/navMenu/navLogo.svg");
  margin-right: 5px;
}

.login_title {
  width: 350px;
  height: 94px;
  margin-left: 254px;
  margin-bottom: 30px;
  text-align: center;
}

.login_title h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.login_title p {
  font-size: 15px;
}

.reg_button {
  margin-left: 256px;
  margin-right: 7px;
  margin-bottom: 30px;
  width: 185px;
  height: 45px;
  font-size: 16px;
  border: none;
  background-color: white;
}

.log_button {
  width: 156px;
  height: 45px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #FF4004;
  margin-bottom: 30px;
}

.login_form input {
  width: 350px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #2A2A2A;
  padding-left: 50px;
  font-weight: 600;
}

.email_input {
  background: url("../../assests/images/LoginPage/email.svg") no-repeat 15px;
}

.pass_input {
  background: url("../../assests/images/LoginPage/pass.svg") no-repeat 15px;
}

.login_form {
  margin-left: 254px;
}

.login_form button {
  width: 350px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #2A2A2A;
  background-color: #fff;
}

.enter_button {
  width: 204px;
  height: 45px;
  font-size: 18px;
  color: white;
  background-color: #FF4004;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  margin-left: 326px;
}

.pass_forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 328px;
  font-size: 12px;
}

.pass_forgot p {
  margin-right: 10px;
}

.pass_forgot a {
  color: #FF4004;
}

.right h1 {
  font-size: 36px;
  color: white;
  margin-top: 319px;
  margin-left: 79px;
  font-weight: 500;
  width: 482px;
  height: 225px;
}

.right img {
  width: 200px;
  height: 102px;
  margin-top: 30px;
  margin-left: 358px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cancel {
  cursor: pointer;
  color: #FF4004;
}