.parent_footer
    background: #8D8D8D
    padding: 49px 0 100px 0
    .child_footer
        display: flex
        justify-content: space-between
        h6
            font-weight: 500
            font-size: 36px
            line-height: 125.3%
            margin-bottom: 30px
        .footer_thanks
            width: 350px
            h6
                width: 280px
            p
                font-weight: 300
                font-size: 18px
                line-height: 125.3%
        .footer_aboutUs
            ul
                li
                    margin-bottom: 20px
                    a
                        font-weight: 400
                        font-size: 18px
                        line-height: 125.3%
                        color: #fff            
                
        .footer_socialMedia
            ul
                display: flex
                gap: 20px
              