.parent_manasPart
    height: 100vh
    background-image: url("../../assests/images/MainPage/ManasPart/manas.jpg")
    background-size: cover
.parent_manasPart_shadow
    height: 100vh
    background-color: rgba(0, 0, 0, 0.6 )
    .child_manasPart
        display: flex
        justify-content: space-between
        align-items: center
        height: 100vh
    .child_manasPart_right
        text-align: center
        h3
            font-weight: 500
            font-size: 36px
            line-height: 125.3%
        a
            font-weight: 500
            font-size: 22px
            line-height: 125.3%
            color: #fff