.parent_manasPart {
  height: 100vh;
  background-image: url("../../assests/images/MainPage/ManasPart/manas.jpg");
  background-size: cover;
}

.parent_manasPart_shadow {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.parent_manasPart_shadow .child_manasPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.parent_manasPart_shadow .child_manasPart_right {
  text-align: center;
}
.parent_manasPart_shadow .child_manasPart_right h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
}
.parent_manasPart_shadow .child_manasPart_right a {
  font-weight: 500;
  font-size: 22px;
  line-height: 125.3%;
  color: #fff;
}