.parent_header {
  height: 100vh;
  background-image: url("../../assests/images/MainPage/Header/main_back-d.jpg");
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parent_header .child_header {
  width: 500px;
}
.parent_header .child_header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 125.3%;
}
.parent_header .child_header p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.3%;
  width: 441px;
  margin: 6px 0 16px 0;
}
.parent_header .child_header span {
  font-weight: 500;
  font-size: 22px;
  line-height: 125.3%;
  display: block;
  width: 482px;
  display: block;
  margin-bottom: 40px;
}
.parent_header .child_header div {
  text-align: right;
}
.parent_header .child_header div button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.3%;
  color: #FFFFFF;
  background-color: #FF4004;
  padding: 10px 11px;
  border-radius: 10px;
}